
/*body*/

h1{
    text-align: center;
    font-size: $textXl;
    line-height: $textXl;
    font-weight: 800;
    font-style: italic;;
    padding: 10px;
}

h2,h3,h4{
        font-size: 1.7rem;
        padding: 10px; 
           }

p{
        font-size: 1.2rem;
        padding: 10px;
        }


/*images*/

.imgHeaderSized {
    width: $w50;
    height: auto;
    padding: 10px;
}
.imgMainSized {
    @extend .imgHeaderSized;
    width: $w30;
}

/*list style*/

.listStyle{
    list-style:inside;
    line-height: 4rem;
    font-size: $textS;
    width: $w50;
}

/* text */
.textSize{
    font-size: $textM;
    text-decoration: none;
    color: black; }

.textCarousel{
        font-size: 1.4rem;
        text-shadow: 1rem;
    }

/*colors*/ 

/* mainBackgroundColors */
.backgroundColorGreen{
    background-color: map-get($map: colors, $key:"green" ) ;
}

.backgroundColorYellow{
    background-color: map-get($map: colors, $key: "yellow");
}

.backgroundColorPink{
    background-color: map-get($map: colors, $key: "pink");
}

.backgroundColorLightRed{
    background-color: map-get($map: colors, $key: "lightRed");
}

.backgroundColorLightBlue{
    background-color: map-get($map: colors, $key: "lightBlue");
} 

.backgroundColorLilac{
    background-color: map-get($map: colors, $key: "lilac");
}

.backgroundColorLightGreen{
    background-color: map-get($map: colors, $key: "lightGreen");
}

.backgroundColorRed{
    background-color: map-get($map: colors, $key: "red");
}
.backgroundNav{
background-color: map-get($map: colors, $key: "navRed");
}

.backgroundColorWhite{
    background-color: map-get($map: colors, $key: "white");
}

/*gradients*/

.gradientWhiteToLightred{
    background: linear-gradient(to bottom, white, rgba(249, 78, 68, 0.6));
}

.gradientWhiteToPink{
    background: linear-gradient(to bottom, white,rgba(246, 124, 171, 0.6) );
}

.gradientWhiteToYellow{
    background: linear-gradient(to bottom, white, rgba(225, 230, 93, 0.6));
}

.gradientWhiteToLightblue{
    background: linear-gradient(to bottom, white, rgba(170, 208, 247, 0.6));
}





/*paddings & widths*/



.padding{
    padding: 30px;
    }

.width30{
    width: $w30;}

.width45{
        width: $w45;
        height: auto;
    }
    
.width50{
        width: $w50;
        
    }

.width60{
    width: 60%;
    }
.width100{
    width: 100%; 
    }