footer{
    background-color: rgba(0, 0, 0, 1);
    text-align: center; 
    p{
        color: rgba(244, 244, 244, 1);
        padding: 10px;
    }
    img{
        width: 45px;
        height: auto;
        padding-bottom: 10px;
    }
    }