
// media queries

@media (max-width: 1020px){


    h1{
        font-size: 3rem;
        align-content:stretch;

    }

    h2,h3,h4{
        font-size: 1.6rem; 
               
            
          }

    p{
        font-size: 1.2rem;
        }

    .gridIndex{
        display: flex;
        flex-direction:column;
    }

    
    .gridVariedades{
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        grid-template-areas:
        "burgol" 
        "lenteja"
        "yamani"
        "aduki"
        "falafel"
        "mung";
    }
    
    .imgHeaderSized {
        display: none;
    }

    .flexContainerMain{
        flex-direction: column;
    }
    .flexContainerMainPedinos{
        flex-direction: column;
        align-items: center;
    }

    .listStyle{
        font-size: 1.2rem;
        line-height: 2rem;
        width: 99%;    
    }

    .width50{
        width: 100%;
    }
   

   /* media queries  */
    
   @media (max-width: 550px){
    
    .imgMainSized{
        width: 100%;
    }
    .disappearMobile{
        display: none;
    }

    .width50{
        width: 100%;
    }


   }

}
