@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}